* {
    margin: 0;
    padding: 0;
    font-family: "DynaPuff", system-ui;
    font-size: 16px;
  }


#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.calendar {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 0;
}

.calendar.blink {
  animation: blink .25s;
}

@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }

  50% {
    opacity: 0;
  }
}

.date-section {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5rem;
  width: 100%;

}
.date-section * {
    font-size: 22px;
}

.date-section .wellbutrin-day img {
  position: absolute;
  top: .25rem;
  right: .25rem;
  width: 1rem;
  padding: .2rem;
  border-radius: 50%;
  background: #fff;
}

.note {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 350px;
  width: 195px;
  background: #a8d4d3;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.note:last-child {
    border-right: 2px solid black;
}

.note .open-form-btn  {
  cursor: pointer;
  background: #fff;
  padding: .15rem;
  border-radius: .5rem;
  font-size: 16px;
  text-align: center;
  width: 70%;
  margin-top: auto;
  border: 2px solid black
}


.note .dummy {
  height: 1rem;
}


.note .mood .mood-rate-header, 
.note .medications .medications-header,
.note .thoughts .thoughts-header 
{
  font-size: 18px;
  background: #fff;
  border-radius: .15rem;
  padding: .55rem;
  width: 80%;
  margin: 0 auto .35rem auto;
}

.note .section {
  width: 100%;
  text-align: center;
  min-height: 75px;
  padding: .5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid black
}

.note .section.mood {
  min-height: 55px;
}

.note .section.mood.red {
  background: red;
}

.note .section.mood.yellow {
  background: yellow;
}

.note .section.mood.green {
  background: green;
}

.note .section.mood .mood-rate-value {
  font-size: 26px;
}

.note .medication-container {
  display: grid;
  grid-template-areas:
    "time name name dosage dosage edit delete";
  align-items: center;
  padding: .35rem .1rem;
  width: 95%;
  margin-bottom: .35rem;
  background: black;
  color: white;
  border-radius: .1rem;
}


.note .medication-container .time {
  grid-area: time;
  justify-self: start;
  margin-left: .1rem;
}

.note .medication-container .name {
  grid-area: name;
}

.note .medication-container .dosage {
  grid-area: dosage;
}

.note .medication-container hr {
  grid-area: hr;
  width: 95%;
  margin: auto;
}


.note .medication-container *, .note .thought-container * {
  font-size: 12px;

}

.note .medication-container .dosage {
  display: flex;
  gap: .15rem;
}

.note .medication-container img.edit-medication, .note .medication-container .delete-medication {
    cursor: pointer;
  height: 1rem;
  background: white;
  border-radius: .1rem;
  justify-self: end;
  margin-right: .1rem;
}

.note .medication-container img.edit-medication {
  grid-area: edit;

}

.note .medication-container .delete-medication {
 grid-area: delete;
 width: 16px;
 position: relative;
}

.note .medication-container .delete-medication .delete-medication-confirm-box {
  display: none;
  position: absolute;
  cursor: default;
  bottom: 25px;
  left: -57.5px;
  width: 8rem;
  height: 3rem;
  z-index: 6;
  background: #000;
  border-radius: .25rem;
  border: 2px solid #fff;
}

.note .medication-container .delete-medication .delete-medication-confirm-box.active {
  display: flex;
  justify-content: center;
  align-items: center;
} 


.note .medication-container .delete-medication .delete-medication-confirm-box button {
  width: 5rem;
  height: 1.75rem;
  background: #000;
  color: #fff;
  cursor: pointer;
  border: 2px solid #fff;
}

.note .medication-container .delete-medication .delete-medication-confirm-box button:hover {
  background: #fff;
  color: #000;
}


.note .medication-container .delete-medication .delete-medication-confirm-box img.close-box {
  cursor: pointer;
  width: .85rem;
  background: #fff;
  color: #000;
  position: absolute;
  right: .1rem;
  top: .1rem;
  padding: .05rem;
  border-radius: 50%;
  border: 2px solid #000;
}


.note .medication-container .delete-medication .delete-medication-confirm-box .arrow-down {
  position: absolute;
  bottom: -10px;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-top: 10px solid #fff;
}


/* Thought */

.thought-container {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  grid-template-areas:
  ". time edit-delete"
  "line line line"
  "text text text";
  background: #000;
  color: #fff;
  margin-bottom: .35rem;
  width: 95%;
  padding: .35rem .1rem;
  border-radius: .15rem;
}

.thought-container .time {
  grid-area: time;
}

.thought-container .text {
  grid-area: text;
  margin-top: .35rem;
}

.thought-container .line {
  grid-area: line;
  width: 97.5%;
  justify-self: center;
  height: 1px;
  background: #fff;
  margin-top: .25rem;
}

.thought-container .edit-delete {
  grid-area: edit-delete;
  display: flex;
  gap: .35rem;
  justify-content: end;
}

.thought-container img.edit-thought, .thought-container .delete-thought {
  cursor: pointer;
  height: 1rem;
  background: white;
  border-radius: .1rem;
}


.thought-container .delete-thought {
 width: 16px;
 position: relative;
 margin-right: .15rem;
}

.thought-container .delete-thought .delete-thought-confirm-box {
  display: none;
  position: absolute;
  cursor: default;
  bottom: 25px;
  left: -57.5px;
  width: 8rem;
  height: 3rem;
  z-index: 6;
  background: #000;
  border-radius: .25rem;
  border: 2px solid #fff;
}

.thought-container .delete-thought .delete-thought-confirm-box.active {
  display: flex;
  justify-content: center;
  align-items: center;
} 

.thought-container .delete-thought .delete-thought-confirm-box img.close-box {
  cursor: pointer;
  width: .85rem;
  background: #fff;
  color: #000;
  position: absolute;
  right: .1rem;
  top: .1rem;
  padding: .05rem;
  border-radius: 50%;
  border: 2px solid #000;
}

.thought-container .delete-thought .delete-thought-confirm-box button {
  width: 5rem;
  height: 1.75rem;
  background: #000;
  color: #fff;
  cursor: pointer;
  border: 2px solid #fff;
}


.thought-container .delete-thought .delete-thought-confirm-box button:hover {
  background: #fff;
  color: #000;
}

.thought-container .delete-thought .delete-thought-confirm-box .arrow-down {
  position: absolute;
  bottom: -10px;
  width: 0; 
  height: 0; 
  border-left: 10px solid transparent;
  border-right: 10px solid transparent;
  
  border-top: 10px solid #fff;
}




.arrow {
  cursor: pointer;
  background: rgb(198, 198, 190);
  border-radius: 2rem;
  padding: .5rem;
  height: 2rem;
}

.left-arrow, .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
} 
.left-arrow {
  left: -4rem;
}

.right-arrow {
  right: -4rem;
} 

.form-container-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.darken-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: rgba(0, 0, 0, 0.9);
  opacity: .8;
}

.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  height: 500px;
  width: 300px;
  border: 4px solid #000;
  border-radius: 1rem;
  z-index: 3;
  opacity: unset;
}

.form-container h1{
  font-size: 1.75rem;
}

.form-container form{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container form .form-item{
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container form .form-item label {
  font-size: 1.5rem;
}


.form-container form .form-item input {
  text-align: center;
  font-size: 1.25rem;
}

.form-container form .form-item input#mood-rate {
  margin-top: .5rem;
  width: 3rem;
  text-align: center;
}


.form-container form .form-item input#medication-name
{
  margin-top: .5rem;
  width: 11rem;
}


.form-container form .form-item input#dose-value,
.form-container form .form-item input#dose-unit {
  margin-top: .5rem;
  width: 7rem;
}


.form-container form .form-item textarea#thought  {
  height: 10rem;
}



.form-container form button {
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 2rem;
  width: 5rem;
  height: 2rem;
  background: #000;
  color: #fff;
  border-radius: .25rem;
}


form.edit-medication button[type="submit"]{
  /* background: #973245; */
  background: #327e46;
}

img.close-form-btn {
  cursor: pointer;
  height: 1.25rem;
  position: absolute;
  top: -2rem;
  right: -2rem;
  background: #fff;
  border-radius: 50%;
  padding: .15rem;
  border: 4px solid black;;
  z-index: 5;
}


