* {
    margin: 0;
    padding: 0;
    font-family: "DynaPuff", system-ui;
    font-size: 16px;
  }


#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  position: relative;
}

.calendar {
  position: relative;
  display: grid;
  grid-template-columns: repeat(7,1fr);
  gap: 0;
}

.date-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 5rem;

}
.date-section * {
    font-size: 22px;
}

.note {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 350px;
  width: 175px;
  background: #a8d4d3;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
  border-left: 2px solid black;
}

.note:last-child {
    border-right: 2px solid black;
}

.note .open-form-btn  {
  cursor: pointer;
  background: #fff;
  padding: .15rem;
  border-radius: .5rem;
  font-size: 16px;
  text-align: center;
  width: 70%;
  margin-top: auto;
  border: 2px solid black
}


.note .dummy {
  height: 1rem;
}


.note .mood .mood-rate-header, 
.note .medications .medications-header,
.note .thoughts .thoughts-header 
{
  font-size: 18px;
  background: #fff;
  border-radius: .15rem;
  padding: .55rem;
  width: 80%;
  margin: 0 auto .35rem auto;
}

.note .section {
  width: 100%;
  text-align: center;
  min-height: 75px;
  padding: .5rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-top: 2px solid black
}

.note .section.mood {
  min-height: 55px;
}

.note .section.mood .mood-rate-value {
  font-size: 26px;
}

.note .medication-container {
  display: grid;
  grid-template-areas:
    "time name name dosage dosage edit";
  align-items: center;
  padding: .35rem .1rem;
  width: 95%;
  margin-bottom: .35rem;
  background: black;
  color: white;
  border-radius: .1rem;
}


.note .medication-container .time {
  grid-area: time;
  justify-self: start;
  margin-left: .1rem;
}

.note .medication-container .name {
  grid-area: name;
}

.note .medication-container .dosage {
  grid-area: dosage;
}

.note .medication-container hr {
  grid-area: hr;
  width: 95%;
  margin: auto;
}


.note .medication-container *, .note .thought-container * {
  font-size: 12px;

}

.note .medication-container .dosage {
  display: flex;
  gap: .15rem;
}

.note .medication-container img.edit-medication {
  cursor: pointer;
  grid-area: edit;
  height: 1rem;
  background: white;
  border-radius: .1rem;
  justify-self: end;
  margin-right: .1rem;
}

.thought-container {
  background: #000;
  color: #fff;
  margin-bottom: .35rem;
  width: 95%;
  border-radius: .15rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.thought-container .text {
  margin-top: .35rem;
}

.thought-container .line {
  width: 95%;
  height: 1px;
  background: #fff;
}

.arrow {
  cursor: pointer;
  background: rgb(198, 198, 190);
  border-radius: 2rem;
  padding: .5rem;
  height: 2rem;
}

.left-arrow, .right-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%)
} 
.left-arrow {
  left: -4rem;
}

.right-arrow {
  right: -4rem;
} 

.form-container-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}
.darken-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
    background: rgba(0, 0, 0, 0.9);
  opacity: .8;
}

.form-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  height: 500px;
  width: 300px;
  border: 2px solid #000;
  border-radius: 1rem;
  z-index: 3;
  opacity: unset;
}

.form-container h1{
  font-size: 1.75rem;
}

.form-container form{
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container form .form-item{
  margin-top: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form-container form .form-item label {
  font-size: 1.5rem;
}


.form-container form .form-item input {
  text-align: center;
  font-size: 1.25rem;
}

.form-container form .form-item input#mood-rate {
  margin-top: .5rem;
  width: 3rem;
  text-align: center;
}


.form-container form .form-item input#medication-name
{
  margin-top: .5rem;
  width: 11rem;
}


.form-container form .form-item input#dose-value,
.form-container form .form-item input#dose-unit {
  margin-top: .5rem;
  width: 7rem;
}




.form-container form button {
  cursor: pointer;
  margin-top: auto;
  margin-bottom: 2rem;
  width: 5rem;
  height: 2rem;
  background: #000;
  color: #fff;
  border-radius: .25rem;
}

img.close-form-btn {
  cursor: pointer;
  height: 1.25rem;
  position: absolute;
  top: -1.5rem;
  right: -1.5rem;
  background: #fff;
  border-radius: 50%;
  padding: .15rem;
  border: 2px solid black;;
  z-index: 5;
}